.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  animation: move-right 5s linear infinite;
}

@keyframes move-right {
  0% { transform: translate(-50%, -50%); }
  100% { transform: translate(calc(100% + 50px), -50%); }
}

.like {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 30px;
  animation: move-down 7s linear infinite;
}

@keyframes move-down {
  0% { transform: translate(-50%, -50%); }
  100% { transform: translate(-50%, calc(100% + 50px)); }
}
